html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

body {
  max-width: 500px;
  margin: 0 auto;
  padding: 8px;
}

a {
  padding: 4px;
}

a:active,
a:visited {
  color: blue;
}

a.active {
  color: white;
  background-color: orange;
}
